In [1]:
name=input("Enter Your Name:")

Enter Your Name:Chaitanya

In [2]:
type(name)

str

In [3]:
age=input("Enter Your Age:")

Enter Your Age:20

In [4]:
type(age)  # when we use input function then it give type of that value is by default string ...and we want to change type then we use the type casting

str

Type Conversion

In [13]:
age=int(input("Enter Your Age:"))

Enter Your Age:20

In [14]:
type(age)

int

In [15]:
age=float(input("Enter Your Age:"))

Enter Your Age:20

In [16]:
type(age)

float

Type Casting:

In [17]:
x=[78,90]
x1=tuple(x)
type(x1)

tuple

In [18]:
y={4,5,6,7,8}
a=list(y)
type(a)

list

In [20]:
a=3

x1=float(a)

x2=complex(a)

x3=int(a)

x4=str(a)

print(x1,x2,x3,x4)

type(x4)

3.0 (3+0j) 3 3

str