* A statement that control flow of the program.
* Decision or selection control statments

->if
->elif
->else

*Loop or Itretion Control Statments
->for:
->while:

# 1) Decision or Selection Control Statements
* if statements
: if condition is true then only it is run otherwise conditions are not run.
 if statement:
         instruction 1
         instruction 2
         instruction 3

In [12]:
marks=int(input("Enter your marks:"))

Enter your marks:55

In [6]:
# Two conditions
if(marks>=35):
    print("eligible for exam")
else:
    print("not eligible for exam")

eligible for exam

In [7]:

if(marks<35):
    print("not eligible for exam")
elif(marks==50):
    print("half of the total exam")
else:
    print("eligible for exam")

eligible for exam

In [13]:
if(marks<35):
    print("not eligible for exam")
elif(marks==50):
    print("half of the total exam")
elif(marks>51 and marks>=75):
    print("first class with dist")
else:
    print("eligible for exam")

eligible for exam

In [16]:
#nested if-else

mark=int(input("Enter your marks:"))

if(35<=mark<60):
    print("eligible for exam")
    if(mark==50):
        print("half of the total marks")
    else:
        print("actual marks",mark)
elif(60<=mark<75):
    print("first class")
    if(marks>65):
        print("first class with good score")
    if(mark<64):
        print("average marks")
elif(mark>=75):
    print("first class with dist")
    if(mark==75):
        print("only 6dist")
    if(mark==75):
        print("excellent score")        
else:
    print("not eligible for exam")

Enter your marks:90
first class with dist

In [2]:
#Case Study

mark=int(input("Enter your marks:"))
skillset=input("Enter your skill")

print("state level","national level","international level")
level=input("level:")

if skillset=="classical_dance":
    if level in("state level"):
        print("marks=",mark+3)
    if level in("National level"):
        print("marks=",mark+4)
    if level in("International level"):
        print("marks=",mark+5)

elif skillset=="Sports":
    if level in("state level"):
        print("marks=",mark+3)
    if level in("National level"):
        print("marks=",mark+4)
    if level in("International level"):
        print("marks=",mark+5)

elif skillset=="Drawing":
    if level in("state level"):
        print("marks=",mark+3)
    if level in("National level"):
        print("marks=",mark+4)
    if level in("International level"):
        print("marks=",mark+5)
else:
    print("no skill",mark)

Enter your marks:70
Enter your skillno
state level national level international level
level:no
no skill 70

# Loops in Python:

1)for loop:A for loop is used for iteration over a sequence(taht is either a list ,a tuple,a dictionary,a set ,or a String).
this is less like the for keyword in other programming languages ,and workds more like and iterator method .
With the for loop we can execute a set of statements,once for each item in a list ,tuple,set etc.

    the range ()function
 to loop throw a set oof code specified number of times ,we can use the range()function,
 the range()function returns a sequence of a number,starting from 0  by default ,and incerement by one (by default),and ends at   a specified number.
 range (6) is not the value of 0 to 6 but the values 0 to 5

-some times we need to run a block of code a number of times
-definite loop(for loop) 
-a loop that has set number of times to run definite loop 
-in for loop we can not define initilization and incrementation it gives the results by using the range function
-in definite loop(while loop)
-a loop that has indefinite number of times to run indefinite loop 
-the loop gives the the output while the given condition is false 
-here we can specificly define initilization and incrementation taht where to start the loop and how to incerment it 
-if we can't define incrementation then the loop can't understand how to increment its so it will gose in progreesing.

#for variable in range(start,end,increment/decrement)
Ex.
#for i in range(1,20,5):
     #print(i)

In [5]:
for i in range(5):
    print(i)

0
1
2
3
4

In [9]:
for i in range (1,10,2):  #odd no.
    print(i)

1
3
5
7
9

In [12]:
for i in range (5,10):
    print(i)

5
6
7
8
9

In [16]:
for i in range (2):
    i=input("Enter name:")
    print(i)

Enter name:pooja
pooja
Enter name:rutuja
rutuja

In [20]:
for a in range(1,11):   #table
    print(a*2)

2
4
6
8
10
12
14
16
18
20

In [21]:
for i in range (5):
    i=input("Enter name:")

Enter name:Chaitanya
Enter name:shweta
Enter name:saba
Enter name:shreya
Enter name:priyanka

In [22]:
print("enter ur name")
for i in range (5):
    i=input()

enter ur name
chaitanya
shweta
aditi
shreya
pooja

In [28]:
a=["apple","ball","cat","dog","egg"]
for i in a:
    print(i)

apple
ball
cat
dog
egg

In [27]:
a=[1,2,3,4,5]
for i in a:
    print(i,end=" ")   #end=" "...for horizantal

1 2 3 4 5

# Nested for loop

In [33]:
a=[1,2,3,4,5]
b=["a","b","c","d","e"]
for i in a:      #outer loop- first one value lega or pura inner loop lega pura inner loop hone ke bad outter loop ka second value lega  
    for j in b:  #inner loop
        print(i,j)

1 a
1 b
1 c
1 d
1 e
2 a
2 b
2 c
2 d
2 e
3 a
3 b
3 c
3 d
3 e
4 a
4 b
4 c
4 d
4 e
5 a
5 b
5 c
5 d
5 e

# Star pattern

In [18]:
for i in range (6):
    print("*"*i)

*
**
***
****
*****

In [24]:
for i in range (1,6):
    for j in range(i):   #  for j in range(0,i):     this also correct,both are same
        print("*",end=" ")
    print("\n")

*

* *

* * *

* * * *

* * * * *

In [37]:
for i in range (6,1,-1):
    for j in range(i,1,-1):   
        print("*",end=" ")
    print("\n")

* * * * *

* * * *

* * *

* *

*

# Pyrimidal star pattern

In [56]:
for i in range(1,6):          #this is for outer loop for rows
    for j in range(6-i):      #this is used for space
        print(" ",end=" ")    #print the space
    for k in range(2*i-1): #this is nested inner loop for print * in assending order "2*i-1"  by the condition 
        print("*",end=" ")     #print the *
    print(" ")                #for next line

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [57]:
for i in range(5,0,-1):         
    for j in range(6-i):  
        print(" ",end=" ")    
    for k in range(2*i-1): 
        print("*",end=" ")   
    print(" ")

  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [58]:
for i in range (2,20+1):
    for j in range(1,10+1):
        print(i*j,end=" ")
    print("\n")

2 4 6 8 10 12 14 16 18 20

3 6 9 12 15 18 21 24 27 30

4 8 12 16 20 24 28 32 36 40

5 10 15 20 25 30 35 40 45 50

6 12 18 24 30 36 42 48 54 60

7 14 21 28 35 42 49 56 63 70

8 16 24 32 40 48 56 64 72 80

9 18 27 36 45 54 63 72 81 90

10 20 30 40 50 60 70 80 90 100

11 22 33 44 55 66 77 88 99 110

12 24 36 48 60 72 84 96 108 120

13 26 39 52 65 78 91 104 117 130

14 28 42 56 70 84 98 112 126 140

15 30 45 60 75 90 105 120 135 150

16 32 48 64 80 96 112 128 144 160

17 34 51 68 85 102 119 136 153 170

18 36 54 72 90 108 126 144 162 180

19 38 57 76 95 114 133 152 171 190

20 40 60 80 100 120 140 160 180 200

#palindrom,lcf hcf,factorial,diff star pattern,fibonocis series,

# While Loop(Indefined loop)

*A loop that has indefinite no. of times to run .indefinite loop
*The loop gives the o/p while the given condition is false
*here we can specifically define the initilization and increment that where to start the loop and how to increment it
*if we can define the incrementation then the loop can't understand how to increment it so it will goes in prosessing.

#while Syntax:


x=0
while("condition"):
    print(x)
    x=x+1

In [8]:
i=0             #initilization
while(i<10):    #condition
    i=i+1       #incrementation
    print(i)

0
1
2
3
4
5
6
7
8
9

In [11]:
i=0           
while(i<=9):   
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9

In [12]:
i=0           
while(i<=9):   
    i=i+1
    print(i*2)

2
4
6
8
10
12
14
16
18
20

In [13]:
i=0           
while(i<=9):   
    print(i*2)
    i=i+1

0
2
4
6
8
10
12
14
16
18

# Jumping statments:
 
used on sequence data or range
it is used for breack the specific condition

In [2]:
# break
fruits=["pappya","mango","banana","apple","chiku"]
for x in fruits:
    print(x)
    if x=="banana":
        break

pappya
mango
banana

In [9]:
for i in range(10):
    print(i)
    if i==6:
        break

0
1
2
3
4
5
6

In [13]:
#Continue
for i in range(10):
    if i==6:
        continue
    print(i)

0
1
2
3
4
5
7
8
9

In [14]:
fruits=["pappya","mango","banana","apple","chiku"]
for x in fruits:
    if x=="banana":
        continue
    print(x)

pappya
mango
apple
chiku

In [15]:
#Pass: does not affect on any kind of condition
fruits=["pappya","mango","banana","apple","chiku"]
for x in fruits:
    if x=="banana":
        pass
    print(x)

pappya
mango
banana
apple
chiku

In [16]:
for i in range(10):
    if i==6:
        pass
    print(i)

0
1
2
3
4
5
6
7
8
9

In [17]:
i=0           
while(i<=9):   
    print(i)
    if i==5:
        break
    i=i+1

0
1
2
3
4
5

In [1]:
i=0           
while(i<=9):   
    print(i)
    if i==5:
        pass
    i=i+1

0
1
2
3
4
5
6
7
8
9

In [4]:
i=0           
while(i<=9):   
    i=i+1
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10