In [7]:
!pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\users\admin\anaconda3\lib\site-packages (2.2.9)

# Establishing connectivity

In [8]:
import mysql.connector

In [9]:
mydb=mysql.connector.connect(

host="localhost",
user="root",
password="Root",)

In [10]:
if(mydb):
    print("connection sucessfull")
else:
    print("connection unsucessfull")

connection sucessfull

In [11]:
mycursor=mydb.cursor() #cursor it is like a object

In [13]:
mycursor.execute("show databases")

In [14]:
for tb in mycursor:
    print(tb)

('information_schema',)
('clg',)
('collage_dept_sys',)
('college',)
('department',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [37]:
mydb=mysql.connector.connect(host="localhost",database="collage_dept_sys",user="root",password="Root")
mycursor=mydb.cursor()

# Creating Table

In [38]:
mycursor.execute("show tables") #tables show in above that database

In [39]:
for tb in mycursor:
    print(tb)

('add_sub',)
('stud_certification',)
('stud_fees',)
('stud_result',)
('student_hw_assignment',)
('student_hw_practical',)
('student_signup',)

In [51]:
import mysql.connector

conn=mysql.connector.connect(host="localhost",database="chaitu",user="root",password="Root")

cursor=conn.cursor()

In [34]:
create_query="""

Create Database chaitu

"""

cursor.execute(create_query)

In [43]:
create_query="""

Create Table emp_info(
id  INT primary key,
name VARCHAR(256),
age INT,
salary Float
)
"""

cursor.execute(create_query)

# Inserting Data

In [45]:
# SQl query to insert data into tha table

insert_query = "Insert into emp_info (id,name,age,salary) Values(%s,%s,%s,%s)"
,
#Data to be inserted
data = (1,"Chaitanya Patil",20,50000)

#Excute the sql query to insert data
cursor.execute(insert_query, data)

#commit the transaction
conn.commit()

In [46]:
insert_query = "Insert into emp_info (id,name,age,salary) Values(%s,%s,%s,%s)"
,

data = (2,"Shweta Patil",22,50000)

#Excute the sql query to insert data
cursor.execute(insert_query, data)

#commit the transaction
conn.commit()

# Retriving data

In [53]:
# sql query to retriev data from the table
select_query = "Select * From emp_info"

#Execute the SQl query to fetch data
cursor.execute(select_query)

#fetch all rows
row = cursor.fetchall()
row

[(1, 'Chaitanya Patil', 20, 50000.0),
 (2, 'Shweta Patil', 22, 50000.0),
 (3, 'Jahn Doe', 30, 50000.0)]

# Update data

In [55]:
# SQL query to update data in the table
update_query = "UPDATE emp_info set Salary = %s WHERE name = %s"

#NEW Salary and employee name
new_salary = 55000
employee_name= "Jahn Doe"

#Execute the sql query to update data
cursor.execute(update_query, (new_salary, employee_name))

#commit the transaction
conn.commit()

# Deleting data

In [57]:
#Sql query to delete data from the table
delete_query = "DELETE FROM emp_info WHERE NAME = %s"

#Emplyoee name to be deleted
employee_name = "Shweta Patil"

#Excute the SQL query to delete data
cursor.execute(delete_query,(employee_name,))

#commit the transaction
conn.commit()

# Closing the connection

In [58]:
#Close the cursor and connection
cursor.close()
conn.close()